body {
  background: url("http://img03.deviantart.net/4e83/i/2013/027/c/c/everfree_forest_corridor_background_by_golliattaillog-d5t069n.jpg");
background-size: cover;}

.start {
  font-size: 5em;
  color: #fff;
  font-family: impact;
  position: absolute;
  top: 1%;
  left: 1%;
  padding: 260px 404px;
  box-shadow: 1px 1px 150px rgba(255, 255, 255, 0.3);
  display: inline-block;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.hud {
 
  left: 0;
  display: block;
  width: 100%;
  height: auto;
  font-family: Helvetica, sans-serif;
  color: #B7C3F3;
}

.hud p {
  margin-left: 2%;
  letter-spacing: 0.2em;
  font-weight: 100;
  font-size: .75em;
}

.hud span {
  font-size: 0.5em;
  color: rgba(255, 255, 255, 0.5);
}

.clickables {
  text-shadow: 1px 1px 10px #333;
  position: absolute;
  padding: 10px;
  font-size: 2em;
  color: #fff;
}

#peashooter {
  background: url("http://beanbus.github.io/shooting/image/peashooter.png");
  background-repeat: no-repeat;
  height: 400px;
  width: 300px;
  margin: 400px 0px 100px 10px;
}

#ufo1 {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 250px;
  left: 1000px;
  opacity: 1;
  transition-property: all;
  transition-duration: 3s;
  transition-timing-function: linear;
}

#ufo2 {
  width: 10px;
  height: 10px;
  top: 265px;
  left: 550px;
  position: absolute;
  transition-property: all;
  transition-duration: 3s;
  transition-timing-function: linear;
}

#ufo3 {
  width: 20px;
  height: 20px;
  top: 507px;
  left: 540px;
  position: absolute;
  transition-property: all;
  transition-duration: 3s;
  transition-timing-function: linear;
}